#menu {
    margin: 0%;
    padding: 0%;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu a {
    color: brown;
    font-size: 21px;
    text-decoration: none;
}

#nyam {
    background-color: blanchedalmond;
    height: 50px;
    margin-bottom: 20px;
}

body {
    background-color: rgb(204, 204, 193);
}

#container {
    /* height: 1000px; */
    width: 95%;
    background-color: beige;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-family: 'Redressed', cursive;
    text-align: center;
}

#photo {
    width: 75%;
    margin-bottom: 15px;
    box-shadow: 0 0 30px rgb(75, 49, 34);
    border-radius: 10px;
}

#armonia {
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(63, 43, 23);
}

#color {
    height: 300px;
    width: 70%;
    background-color: rgb(148, 120, 95);
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
}

#cup2 {
    background-image: url("https://icdn.lenta.ru/images/2021/11/01/15/20211101151216600/pwa_vertical_1280_11c000a7bf10eb380884f27896016ad7.jpg");
    background-size: cover;
    opacity: 0.8;
}

.textInfo {
    width: 50%;
    height: 100%;
    color: rgb(32, 23, 14);
}

#firstCake {
    height: 300px;
    width: 70%;
    background-color: rgb(107, 83, 61);
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
}

#secondCake {
    height: 300px;
    width: 70%;
    background-color: rgb(131, 96, 66);
    margin: 0 auto;
    border-radius: 5px;
    display: flex
}

#thirdCake {
    height: 300px;
    width: 70%;
    background-color: rgb(143, 114, 90);
    margin: 0 auto;
    border-radius: 5px;
    display: flex
}

#fourthCake {
    height: 300px;
    width: 70%;
    background-color: rgb(165, 131, 103);
    margin: 0 auto;
    border-radius: 5px;
    display: flex
}

#fifthCake {
    height: 300px;
    width: 70%;
    background-color: rgb(202, 160, 122);
    margin: 0 auto;
    border-radius: 5px;
    display: flex
}

#sixthCake {
    height: 300px;
    width: 70%;
    background-color: rgb(245, 192, 146);
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
}

.typeDrink {
    height: 200px;
    width: 200px;
    display: block; 
    border-radius: 10px;  
}

#coffee {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin-right: 10px;

}

.typeDrink2 {
    height: 200px;
    width: 200px;
    display: block; 
    border-radius: 10px; 
}

#tea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card2 {
    margin-right: 10px;
}
